<div class="main-container">
<div class = "container splash_screen">
  <h1>My Budget App</h1>
</div>

<div class = "registration_container">
  <%= link_to 'LOG IN', new_user_session_path, class: 'btn' %>
  <%= link_to 'SIGN UP', new_user_registration_path, class: 'btn splash-login' %>
</div>
</div>