.transactions_container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  place-items: center;
  margin-top: 20px;
}

.transaction_details {
  width: 90%;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.transaction {
  display: flex;
  align-items: center;
  gap: 10px;
}

.text-records {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.transaction img {
  width: 80px;
  height: 80px;
  border-radius: 10%;
  object-fit: cover;
}

.transaction h2 {
  font-size: 1.2rem;
  margin-bottom: 5px;
  opacity: 0.5;
}

.transaction h3 {
  font-size: 1rem;
  margin-bottom: 10px;
}

.transaction_group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Date */
.transaction_details p {
  font-size: 0.9rem;
  text-align: center;
  margin-top: 10px;
  width: fit-content;
  margin-left: 90px;
  opacity: 0.5;
}

.records-body {
  background-color: lightgray;
}

/* Add New Transaction button */
.group_btn {
  text-align: center;
  margin-top: 20px;
}

.add-btn {
  text-decoration: none;
  color: #fff;
  border: 1px solid;
  padding: 10px;
  width: 90%;
  background-color: #23c80a;
}

.alert {
  color: red;
}

.notice {
  color: green;
}

/* Desktop Styles */

/* Media query for screens wider than 768px */
@media screen and (min-width: 768px) {
  .transactions_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  /* Make images square */
  .transaction img {
    width: 300px;
    height: 200px;
    border-radius: 15%;
    object-fit: cover;
    display: block;
  }
}
